.place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-bottom: solid 1px lightgrey;
}

.place button {
    height: 100%;
}

.place-details {
    margin: 5px;
}